/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-name: 'arrow';
$arrow-x: 53px;
$arrow-y: 28px;
$arrow-offset-x: -53px;
$arrow-offset-y: -28px;
$arrow-width: 13px;
$arrow-height: 8px;
$arrow-total-width: 170px;
$arrow-total-height: 45px;
$arrow-image: '../img/sprite/sprites.png';
$arrow: (53px, 28px, -53px, -28px, 13px, 8px, 170px, 45px, '../img/sprite/sprites.png', 'arrow', );
$camera-icon-name: 'camera-icon';
$camera-icon-x: 0px;
$camera-icon-y: 28px;
$camera-icon-offset-x: 0px;
$camera-icon-offset-y: -28px;
$camera-icon-width: 21px;
$camera-icon-height: 17px;
$camera-icon-total-width: 170px;
$camera-icon-total-height: 45px;
$camera-icon-image: '../img/sprite/sprites.png';
$camera-icon: (0px, 28px, 0px, -28px, 21px, 17px, 170px, 45px, '../img/sprite/sprites.png', 'camera-icon', );
$delete-icon-name: 'delete-icon';
$delete-icon-x: 39px;
$delete-icon-y: 28px;
$delete-icon-offset-x: -39px;
$delete-icon-offset-y: -28px;
$delete-icon-width: 12px;
$delete-icon-height: 12px;
$delete-icon-total-width: 170px;
$delete-icon-total-height: 45px;
$delete-icon-image: '../img/sprite/sprites.png';
$delete-icon: (39px, 28px, -39px, -28px, 12px, 12px, 170px, 45px, '../img/sprite/sprites.png', 'delete-icon', );
$info-icon-name: 'info-icon';
$info-icon-x: 23px;
$info-icon-y: 28px;
$info-icon-offset-x: -23px;
$info-icon-offset-y: -28px;
$info-icon-width: 14px;
$info-icon-height: 14px;
$info-icon-total-width: 170px;
$info-icon-total-height: 45px;
$info-icon-image: '../img/sprite/sprites.png';
$info-icon: (23px, 28px, -23px, -28px, 14px, 14px, 170px, 45px, '../img/sprite/sprites.png', 'info-icon', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 170px;
$logo-height: 26px;
$logo-total-width: 170px;
$logo-total-height: 45px;
$logo-image: '../img/sprite/sprites.png';
$logo: (0px, 0px, 0px, 0px, 170px, 26px, 170px, 45px, '../img/sprite/sprites.png', 'logo', );
$arrow-2x-name: 'arrow@2x';
$arrow-2x-x: 106px;
$arrow-2x-y: 56px;
$arrow-2x-offset-x: -106px;
$arrow-2x-offset-y: -56px;
$arrow-2x-width: 26px;
$arrow-2x-height: 16px;
$arrow-2x-total-width: 340px;
$arrow-2x-total-height: 90px;
$arrow-2x-image: '../img/sprite/sprites@2x.png';
$arrow-2x: (106px, 56px, -106px, -56px, 26px, 16px, 340px, 90px, '../img/sprite/sprites@2x.png', 'arrow@2x', );
$camera-icon-2x-name: 'camera-icon@2x';
$camera-icon-2x-x: 0px;
$camera-icon-2x-y: 56px;
$camera-icon-2x-offset-x: 0px;
$camera-icon-2x-offset-y: -56px;
$camera-icon-2x-width: 42px;
$camera-icon-2x-height: 34px;
$camera-icon-2x-total-width: 340px;
$camera-icon-2x-total-height: 90px;
$camera-icon-2x-image: '../img/sprite/sprites@2x.png';
$camera-icon-2x: (0px, 56px, 0px, -56px, 42px, 34px, 340px, 90px, '../img/sprite/sprites@2x.png', 'camera-icon@2x', );
$delete-icon-2x-name: 'delete-icon@2x';
$delete-icon-2x-x: 78px;
$delete-icon-2x-y: 56px;
$delete-icon-2x-offset-x: -78px;
$delete-icon-2x-offset-y: -56px;
$delete-icon-2x-width: 24px;
$delete-icon-2x-height: 24px;
$delete-icon-2x-total-width: 340px;
$delete-icon-2x-total-height: 90px;
$delete-icon-2x-image: '../img/sprite/sprites@2x.png';
$delete-icon-2x: (78px, 56px, -78px, -56px, 24px, 24px, 340px, 90px, '../img/sprite/sprites@2x.png', 'delete-icon@2x', );
$info-icon-2x-name: 'info-icon@2x';
$info-icon-2x-x: 46px;
$info-icon-2x-y: 56px;
$info-icon-2x-offset-x: -46px;
$info-icon-2x-offset-y: -56px;
$info-icon-2x-width: 28px;
$info-icon-2x-height: 28px;
$info-icon-2x-total-width: 340px;
$info-icon-2x-total-height: 90px;
$info-icon-2x-image: '../img/sprite/sprites@2x.png';
$info-icon-2x: (46px, 56px, -46px, -56px, 28px, 28px, 340px, 90px, '../img/sprite/sprites@2x.png', 'info-icon@2x', );
$logo-2x-name: 'logo@2x';
$logo-2x-x: 0px;
$logo-2x-y: 0px;
$logo-2x-offset-x: 0px;
$logo-2x-offset-y: 0px;
$logo-2x-width: 340px;
$logo-2x-height: 52px;
$logo-2x-total-width: 340px;
$logo-2x-total-height: 90px;
$logo-2x-image: '../img/sprite/sprites@2x.png';
$logo-2x: (0px, 0px, 0px, 0px, 340px, 52px, 340px, 90px, '../img/sprite/sprites@2x.png', 'logo@2x', );
$spritesheet-width: 170px;
$spritesheet-height: 45px;
$spritesheet-image: '../img/sprite/sprites.png';
$spritesheet-sprites: ($arrow, $camera-icon, $delete-icon, $info-icon, $logo, );
$spritesheet: (170px, 45px, '../img/sprite/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 340px;
$retina-spritesheet-height: 90px;
$retina-spritesheet-image: '../img/sprite/sprites@2x.png';
$retina-spritesheet-sprites: ($arrow-2x, $camera-icon-2x, $delete-icon-2x, $info-icon-2x, $logo-2x, );
$retina-spritesheet: (340px, 90px, '../img/sprite/sprites@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$arrow-group-name: 'arrow';
$arrow-group: ('arrow', $arrow, $arrow-2x, );
$camera-icon-group-name: 'camera-icon';
$camera-icon-group: ('camera-icon', $camera-icon, $camera-icon-2x, );
$delete-icon-group-name: 'delete-icon';
$delete-icon-group: ('delete-icon', $delete-icon, $delete-icon-2x, );
$info-icon-group-name: 'info-icon';
$info-icon-group: ('info-icon', $info-icon, $info-icon-2x, );
$logo-group-name: 'logo';
$logo-group: ('logo', $logo, $logo-2x, );
$retina-groups: ($arrow-group, $camera-icon-group, $delete-icon-group, $info-icon-group, $logo-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
